<% if(success && success.length){ %>
<div class="alert alert-success" role="alert"><%= success %></div>
<button
type="button"
class="btn-close col-3 offset-3"
data-bs-dismiss="alert"
arial-label="Close"
></button>
<% } %>